* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: monospace;
  margin: 0;
	padding:0;
	background-color:#000;
	background-image: url(./bg.jpg);
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

/* Header/logo Title */
.header {
    padding: 0px;
    text-align: center;
    background: #000000;
    color: white;
}

/* Increase the font size of the heading 
.header h1 {
    font-size: 40px;
}
*/
/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #000;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #000;
    color: red;
}

/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    opacity:0.95; filter:alpha(opacity=95);
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    background-color: #000;
    padding: 5px;
    color: white;
}

/* Main column */
.main {   
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
    background-color: #222;
    padding: 20px;
    color: silver;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #000;
}
.pagination{
    background-color: #000000;
    color: red;
}
.pagination a:hover{
    color: white;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
        opacity:0.90; filter:alpha(opacity=90);
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
h1,h2,h3,h4,h5,h6{
    text-shadow: 4px 4px 8px red; 
    color: silver; 
    text-align:center; 
    margin:0; 
    font-family: AnglicanText; 
    font-weight:lighter;
    font-size: 60px
}
a{
    color:silver;
    text-decoration:none;
    font-size:lighter;
}
a:hover{
    color:darkred;
}
P:first-letter {
	font-size: 180%;
	color: #aaa;
	font-weight: Lighter;
	font-family: AnglicanText;
	text-shadow: 0px 0px 5px red;
	}
code, .language-plaintext, .highlighter-rouge, .highlight{

    background-color: black;
    color: silver;
    font-family: monospace;
    font-size: 12px;
}
@font-face {
font-family: AnglicanText;
src: url(./AnglicanText.ttf);
}
img {
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 100%;*/
}
.entry img {
    width:85%;
}
.author, .date, .content, .post, .entry, .footer{
    color: silver;
    background-color: none;
font-size: 16px;
}
t1 { white-space: pre-wrap;}
 
.youtube-wrapper { 
   /* position: relative; */
    width: 80%;
    height: 400px;
    padding-bottom: 0%;
    } 
.youtube-wrapper iframe { 
/*position: absolute;
top: 0;
left: 0; */
width: 100%; 
height: 400px;
border: 0; 
}
hr {width: 50%;}
