/*Modo rejilla para css responsivo*/
* {
  box-sizing: border-box;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
[class*="col-"] {
    float: left;
    padding: 0px;
    border: 0px solid red;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*termina css rejillas*/
@font-face {
font-family: ProgressiveText;
src: url(../fonts/ProgressiveText.ttf);
}
@font-face {
font-family: gabriele-l;
src: url(../fonts/gabriele-l.ttf);
}
:root {
  /* Paleta de Servicios de TI */
  --color-primario: #0056b3; /* Azul Oscuro Profesional - Trust */
  --color-secundario: #00c0aa; /* Teal/Cian Moderno - Technology/Accent */
  --color-llamada-accion: #ffc107; /* Amarillo Brillante - CTA/Highlight */
  
  /* Fondos y Texto */
  --color-fondo-oscuro: #1b2838; /* Azul muy oscuro para fondos principales */
  --color-fondo-claro: #f8f9fa; /* Gris Muy Claro */
  --color-texto-oscuro: #343a40; /* Gris Oscuro - Legibilidad */
  --color-texto-claro: #ffffff; /* Blanco */
  
  /* Colores de Sombra/Transparencia */
  --color-sombra-acento: rgba(0, 192, 170, 0.7); /* Teal semitransparente */
  --color-semitransparente-oscuro: rgba(27, 40, 56, 0.7); /* Fondo oscuro semitransparente */
}

/* --- ESTILOS ACTUALIZADOS --- */

/* barra de navegacion responsiva */
.topnav {
  background-color: var(--color-fondo-oscuro); /* #111 -> Azul Oscuro */
  overflow: hidden;
  /* (otras propiedades sin color...) */
  width: 100%; /* Full width */
  font-family: ProgressiveText;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: var(--color-texto-claro); /* #fff -> Blanco */
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--color-secundario); /* #600 -> Teal Moderno */
  color: var(--color-fondo-oscuro); /* red -> Azul Oscuro */
}

/* Add an active class to highlight the current page */
.active,.topnav a:active{
  background-color: var(--color-primario); /* #600 -> Azul Profesional */
  color: var(--color-texto-claro); /* white -> Blanco */
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

body {
  background: var(--color-primario); /* #400 -> Azul Profesional */
  background-image: url(../images/bg.png);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 0;
  /* Actualizado para usar las variables y el color secundario como gradiente de acento */
  background-image: url(../images/bg.png), -moz-linear-gradient(top, var(--color-primario) 0%, #004d99 35%, var(--color-fondo-oscuro) 100%);
  background-image: url(../images/bg.png), -webkit-linear-gradient(top, var(--color-primario) 0%, #004d99 35%, var(--color-fondo-oscuro) 100%);
  background-image: url(../images/bg.png), linear-gradient(to bottom, var(--color-primario) 0%, #004d99 35%, var(--color-fondo-oscuro) 100%);
}

h1,h2,h3,h4,h5,h6{text-shadow: 0px 0px 5px black; text-align:center; margin:0; font-family: ProgressiveText; font-weight:lighter;}
h1 a {
  font-size: 35;
  color: var(--color-texto-claro); /* #fff -> Blanco */
  font-family: ProgressiveText;
  text-decoration: none;
  text-shadow: 0px 0px 10px var(--color-secundario); /* #800 -> Teal Moderno */
}
h1 a:hover {
  font-size: 35;
  color: var(--color-texto-oscuro); /* #000 -> Gris Oscuro */
  font-family: ProgressiveText;
  text-decoration: none;
  text-shadow: 0px 0px 10px var(--color-llamada-accion); /* #f00 -> Amarillo CTA */
}
.top{ /*Titulo de la pagina*/
  font-size: 65px;
  color: var(--color-fondo-oscuro); /* #111 -> Azul Oscuro */
  font-weight: Lighter;
  font-family: ProgressiveText;
  text-shadow: 0px 0px 10px var(--color-secundario); /* #f00 -> Teal Moderno */
}

P:first-letter { /*Primer letra del parrafo cambia*/
  font-size: 40;
  color: var(--color-texto-oscuro); /* #000 -> Gris Oscuro */
  font-weight: Lighter;
  font-family: ProgressiveText;
  text-shadow: 0px 0px 3px var(--color-secundario); /* red -> Teal Moderno */
  }

.cont, cont{
color: var(--color-texto-claro); /* #fff -> Blanco */
padding-top:0;
z-index: -1;
position: relative;}
/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    }
.row::after {
  content: "";
  clear: both;
  display: table;
}
.black{
  background-color: var(--color-fondo-oscuro); /* black -> Azul Oscuro */
  color: var(--color-texto-claro); /* white -> Blanco */
  font-weight: bold;
}
.blackt{
  background-color: var(--color-semitransparente-oscuro); /* rgba(0, 0, 0, .7) -> Fondo oscuro transparente */
  color: var(--color-texto-claro); /* white -> Blanco */
  font-weight: bold;
}
.darkred{
  background-color: var(--color-primario); /* #400 -> Azul Profesional */
  color: var(--color-texto-claro); /* white -> Blanco */
  font-weight: bold;
}
.darkgrey{
  background-color: var(--color-fondo-oscuro); /* #111 -> Azul Oscuro */
  color: var(--color-texto-claro); /* white -> Blanco */
  font-weight: bold;
}
.darkgreyt{
  background-color: rgba(27, 40, 56, .5); /* rgba(25, 25, 25, .5) -> Fondo oscuro transparente */
  color: var(--color-texto-claro); /* white -> Blanco */
  font-weight: bold;
}
.center{
  padding-top: 15;
  padding-bottom: 15;
  padding-right: 15;
  padding-left: 15;
  margin: auto auto;
  width: 95%;
}
.center img{
  width: 20%;
  align-content: center;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  padding-top: 15;
  padding-bottom: 15;
  padding-right: 15;
  padding-left: 15;
  margin: auto auto;
}
.leer img{
  width: 80%;
  align-content: center;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  padding-top: 15;
  padding-bottom: 15;
  padding-right: 15;
  padding-left: 15;
  margin: auto auto;
}
.separador{
  margin-bottom: 5px;
  margin-top: 5px;
}
.transparente{
  opacity:0.5; filter:alpha(opacity=50);
}
.content{
  text-align: justify;
  font-family: gabriele-l;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}
.content > P:first-letter { /*Primer letra del parrafo cambia*/
  font-size: 20;
  color: var(--color-texto-oscuro); /* #000 -> Gris Oscuro */
  font-weight: bold;
  font-family: gabriele-l;
  text-shadow: 0px 0px 3px var(--color-secundario); /* red -> Teal Moderno */
  }
.pagination{
  padding: 10 10;
  color: var(--color-texto-claro); /* #fff -> Blanco */
  font-family: ProgressiveText;
  background-color: var(--color-fondo-oscuro); /* #111 -> Azul Oscuro */
  text-decoration: none;
  font-weight: lighter;
  font-size: 19px;
}
.pagination a{
  padding: 10 10;
  color: var(--color-texto-claro); /* #fff -> Blanco */
  font-family: ProgressiveText;
  background-color: var(--color-fondo-oscuro); /* #111 -> Azul Oscuro */
  text-decoration: none;
  font-weight: lighter;
  font-size: 19px;
}
.pagination a:hover{
  padding: 10 10;
  color: var(--color-llamada-accion); /* #f00 -> Amarillo CTA */
  font-family: ProgressiveText;
  background-color: var(--color-fondo-oscuro); /* #111 -> Azul Oscuro */
  text-decoration: none;
  font-weight: lighter;
  font-size: 19px;
}
.esquinas{
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-color: #666; /* Mantenido como gris suave */
  border-width: 1px;
}
.sociales ul li a{
 color: var(--color-texto-claro); /* #fff -> Blanco */
 text-decoration: none;
 font-size: 25;
 font-family: ProgressiveText;
 font-weight: lighter;

}
.sociales ul, .tg ul{
 list-style-image: url("../images/dot.gif");
}
.sociales ul li a:hover{
 color: var(--color-fondo-oscuro); /* #000 -> Azul Oscuro */
 background-color: var(--color-texto-claro); /* #fff -> Blanco */
 text-decoration: underline;
 font-size: 25;
 font-family: ProgressiveText;
 font-weight: lighter;

}
.tg {
  font: bold 12px gabriele-l;
  text-decoration: none;
  background-color: var(--color-primario); /* #600 -> Azul Profesional */
  color: var(--color-texto-claro); /* #fff -> Blanco */
  padding: 3px 7px 3px 7px;
  border: 1px 1px 1px 1px solid var(--color-secundario); /* red -> Teal Moderno */
  margin: 2px 2px 2px 2px;
  border-radius: 10px 10px 10px 10px;
  text-transform: uppercase;
}
.tg:hover{ 
  text-decoration: underline;
}
.leer{
  background-color: var(--color-fondo-claro); /* navajowhite -> Gris Muy Claro */
  background-color: rgba(248, 249, 250, .9); /* rgba(255, 222, 173, .5) -> Fondo Claro semitransparente */
  color: var(--color-texto-oscuro); /* black -> Gris Oscuro */
  padding: 15px 15px 15px 15px;
}
.footer{
  color: var(--color-texto-claro); /* white -> Blanco */
  font-family: gabriele-l;
  font-size: 15px;
  text-align: center;
}
.footer a{
  color: var(--color-secundario); /* red -> Teal Moderno */
  font-family: gabriele-l;
  font-size: 15px;
}
.youtube-wrapper { 
   /* position: relative; */
    width: 80%;
    height: 400px;
    padding-bottom: 0%;
    } 
.youtube-wrapper iframe { 
/*position: absolute;
top: 0;
left: 0; */
width: 100%; 
height: 400px;
border: 0; 
}
img{
  width: 80%;
  align-content: center;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  padding-top: 15;
  padding-bottom: 15;
  padding-right: 15;
  padding-left: 15;
  margin: auto auto;
}
.thumb{width:150px;}
.thumbl img {width: 200px;}
a{
  color: var(--color-secundario); /* red -> Teal Moderno */
}
a:hover{ color: var(--color-texto-claro); /* white -> Blanco */ }
a img{
  width: 150px;
  height: auto;
  }
code{background-color: #333;color: var(--color-texto-claro);}
