<h1 style="margin-bottom: 10px;">Etiquetas</h1>
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
 <a href="/tag/{{ tagname }}/" class="tg">{{ tagname }}</a>
{% endfor %}

<ul class="sociales">
{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <li>{{t | upcase | replace:" ","-" }} - {{ posts | size }}</li>
{% endfor %}
</ul>
<img src="{{ site.baseurl }}/images/miembroMMT0.png">