<div class="topnav" id="myTopnav">
  <a href="http://dzulum.com"><i class="fa fa-fw fa-home" id="inicio"></i>Inicio</a>
  <a href="/enlaces/"><i class="fa fa-anchor" id="enlaces"></i>Enlaces</a>
  <a href="/galleries/"><i class="fa fa-camera" id="galerias"></i>Galerias</a>
  <a href="/descargas/"><i class="fa fa-download" id="descargas"></i>Descargas</a>
  <a href="/about/"><i class="fa fa-user-circle-o" id="about"></i>Sobre Mi</a>
  <a href="/bio/"><i class="fa fa-user-circle-o" id="bios"></i>Sicker Bio's</a>
  <a href="https://forms.gle/NParngQuKffGUvPS7"><i class="fa fa-file"></i>Cuestionario</a>
 <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
 </a>
</div>