<!DOCTYPE html>
<html lang="{{ site.lang | default: "es-MX" }}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<style>
t1 { white-space: pre-wrap;}


   </style>
</head>
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-black w3-bar-block w3-large w3-collapse w3-card-2 w3-animate-left"
 style="width:200px;" id="mySidebar">
<button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
<a href="{{ site.baseurl }}/">Blog</a><br>
<a href="{{ site.baseurl }}/about">Sobre Mi</a><br>
</div>

<!-- Page Content -->
<div class="w3-main" style="margin-left:200px">
<div class="w3-black">
  <button class="w3-button w3-black w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
</div>
<div class="w3-container">
  <h1><a href="{{ site.baseurl }}/"><img class='w3-image' src='/images/logo.jpg' style='width:100%'></a></h1>
</div>

<div class="w3-container">
{{ content }}
</div>
</div>
{% include svg-icons.html %}
<script>
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
