<!DOCTYPE html>
<html lang="es">
<head>
<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/dzulum.css">
{% include meta.html %}
{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}
</head>
<body>

<div class="header">
  <img src="{{ site.baseurl }}/images/logo.jpg" width="80%">
</div>

<div class="navbar">
  <a href="http://dzulum.tk">Inicio</a>
  <a href="/about">Sobre Mi</a>
  <a href="/enlaces">Enlaces de interes</a>
  <a href="#" class="right">Grupo de Whatsapp</a>
</div>

<div class="row">
  <div class="side">
      <h2>Etiquetas</h2>
      {% include archive.html %}
  </div>
  <div class="main">
     {{ content }}
  </div>
</div>

<div class="footer">
  {% include svg-icons.html %}
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional</a>.
</div>
</body>
</html>
