---
layout: default
comments: true
---

<article class="post">
  <h1>{{ post.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

{% capture categories_content %}
{% for pcategory in page.categories %}
{% for scategory in site.the_categories %}
{% if pcategory == scategory.slug %}
<span><a class="label" href="{{ scategory.url }}">{{ scategory.name }}</a></span> {% endif %} {% endfor %} {% endfor %} {% endcapture %} <div class="post-categories"> <p>Posted in {{ categories_content }}</p> </div>
