<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/tech.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <script src="{{ site.baseurl }}/js/topnav.js"></script>
    <script src="{{ site.baseurl }}/js/prism.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if site.tags != "" %}
      {% include collecttags.html %}
    {% endif %}
  </head>
  <body>
    <h1 class="top">{{ site.name }}</h1>
    {% include topnav.html %}
<div class="main col-12">
    <div class="lateral col-3">
      {% include archive.html %}
      {% include links.html %}
    </div>
    <div class="col-9">
      {{ content }}
    </div>
</div>
      {% include footer.html %}
  </body>
</html>
